In [2]:
import statsmodels as sm
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
PATH = "data\\covid_19_data.csv"

In [11]:
data = pd.read_csv(PATH)

In [12]:
data

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
77462,77463,08/01/2020,Zaporizhia Oblast,Ukraine,2020-08-02 04:34:47,800.0,21.0,597.0
77463,77464,08/01/2020,Zeeland,Netherlands,2020-08-02 04:34:47,867.0,69.0,0.0
77464,77465,08/01/2020,Zhejiang,Mainland China,2020-08-02 04:34:47,1270.0,1.0,1268.0
77465,77466,08/01/2020,Zhytomyr Oblast,Ukraine,2020-08-02 04:34:47,1896.0,37.0,1485.0
77466,77467,08/01/2020,Zuid-Holland,Netherlands,2020-08-02 04:34:47,13262.0,1311.0,0.0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77467 entries, 0 to 77466
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              77467 non-null  int64
 1   ObservationDate  77467 non-null  object
 2   Province/State   51018 non-null  object
 3   Country/Region   77467 non-null  object
 4   Last Update      77467 non-null  object
 5   Confirmed        77467 non-null  float64
 6   Deaths           77467 non-null  float64
 7   Recovered        77467 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.7+ MB

In [17]:
des = data.describe()
des.astype(int)

         SNo  Confirmed  Deaths  Recovered
count  77467      77467   77467      77467
mean   38734      11807     600       5745
std    22362      35795    2569      32337
min        1          0       0          0
25%    19367        132       1          1
50%    38734       1154      21        167
75%    58100       6198     196       1842
max    77467     552318   41584    1461885

Chuẩn hóa format ngày giờ

In [39]:
def get_time(s):
    if "T" in s:
        return s.split("T")[1]
    else:
        t =  s.split()[1]
        if t.count(":") == 1:
            t += ":00"
        return t
data["Update Time"] = data["Last Update"].apply(get_time)

In [48]:
def get_date(s):
    if "T" in s:
        return s.split("T")[0]
    else:
        t =  s.split()[0]
        return t
data["Update Date"] = data["Last Update"].apply(get_date)

In [49]:
data

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Update Time,Update Date
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,17:00:00,1/22/2020
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0,17:00:00,1/22/2020
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0,17:00:00,1/22/2020
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,17:00:00,1/22/2020
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0,17:00:00,1/22/2020
...,...,...,...,...,...,...,...,...,...,...
77462,77463,08/01/2020,Zaporizhia Oblast,Ukraine,2020-08-02 04:34:47,800.0,21.0,597.0,04:34:47,2020-08-02
77463,77464,08/01/2020,Zeeland,Netherlands,2020-08-02 04:34:47,867.0,69.0,0.0,04:34:47,2020-08-02
77464,77465,08/01/2020,Zhejiang,Mainland China,2020-08-02 04:34:47,1270.0,1.0,1268.0,04:34:47,2020-08-02
77465,77466,08/01/2020,Zhytomyr Oblast,Ukraine,2020-08-02 04:34:47,1896.0,37.0,1485.0,04:34:47,2020-08-02
77466,77467,08/01/2020,Zuid-Holland,Netherlands,2020-08-02 04:34:47,13262.0,1311.0,0.0,04:34:47,2020-08-02